<html>
    <title>
        About Analysis
    </title>

    <body>
        <p>
            <ul>
                <li>
                    text can be pasted or uploaded in the given text box.
                </li>
                <li>
                    included models multinomial naive bayes, svm and ann.
                </li>
                <li>
                    preprocessing includes lowercase, tokenization, puntuation removal, vectorization.
                </li>
            </ul>
        </p>
    </body>
</html>